*{
    margin: 0;
    padding: 0;
    
}
h1{
    color: blue;
    text-align: center;
    height: auto;
    width: 100%;
    font-size: 2em;
    background-color: magenta;
    padding: 20px;
    box-sizing: border-box;
}
